<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>

<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>

<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>

<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>

<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>

<article class="card-top" href="#">

  <div class="card-top__content">

    <img class="card-top__img" src="images/slider/makita.png" alt="image screwdriver">

    <h3 class="card-top__title">
      Шуруповёрт <br> Makita
    </h3>

    <span class="card-top__price">
      2800.00 грн
    </span>

  </div>


  <a class="card-top__link" href="#">Сlick areas</a>

</article>