<nav class="menu">

  <ul class="topmenu">

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Гаджеты

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадрокоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Компьютеры

      </a>

      <ul class="submenu">



      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Фото

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        TV

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Аудио

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Бытовая техника

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

        Климат

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Дом

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Детские товары

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Авто

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Инструмент

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Туризм

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Спорт

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

    <li class="topmenu__item">

      <a class="topmenu__link" href="#">

       Еще+

      </a>

      <ul class="submenu">

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#smartphone"></use>
            </svg>

            Мобильные

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#phone-case"></use>
            </svg>

            Чехлы

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#headphones"></use>
            </svg>

            Наушники

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#watch"></use>
            </svg>

            Умные часы и <br> браслеты

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#powerbank"></use>
            </svg>

            Powerbank

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#columns"></use>
            </svg>

            Портативные <br> колонки

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>

            Action камеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#drone"></use>
            </svg>

            Квадракоптеры

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#memory"></use>
            </svg>

            Карта памяти

          </a>
        </li>

        <li class="submenu__item">
          <a class="submenu__link" href="#">
            <svg class="submenu__icon">
              <use xlink:href="images/sprite.svg#circle"></use>
            </svg>

            Все разделы

          </a>
        </li>

      </ul>

    </li>

  </ul>

</nav>