<div id="contact" class="modal-box">

  <span class="modal-title">

    Контактные телефоны

  </span>

  <address class="contact">


    <span class="contact__subtitle">

      Консультации и заказы

    </span>

    <div class="contact__inner">

      <a class="contact__text" href="tel:+380994442587">

        +38(099)444-25-87

      </a>

      <a class="contact__text" href="tel:+380994442587">

        +38(099)444-25-87

      </a>

    </div>

    <span class="contact__subtitle contact__subtitle--mailbox">

      Вопросы и пожелания

    </span>

    <a class="contact__text" href="mailto:bigstore.kharkov@gmail.com">

      bigstore.kharkov@gmail.com

    </a>

  </address>

</div>